.videoSomos{
    display: none;
    margin: auto;
}

.portadavideosomos{
    display: block;
}   

.cajaportadavideosomos {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 150vh;
}

.portadavideosomos:hover{
    scale: 0.95;
    filter: grayscale(100%);
    transition: all .5s ease-in-out;
}

.parrafoSobreFondo2{
    height: 350px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
}

.parrafoNosotros{
    width: 70%;
    padding: 25px;
    margin: auto;
    line-height: 1.8;
    text-align: center;
    font-size: 90%;
    color: #ffffff;
    overflow: hidden;
}

.mainNosotros {
    margin-top: 2rem;
}
