
.parrafoSobreFondo{
    height: 480px;
    width: auto;
    background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
}

.h2queHacemos{
    text-align: center;
    text-transform: uppercase;
    font-size: 15pt;
    color: rgb(50, 50, 50);
    font-weight: 600;
    padding: 30px 10px 10px 10px;
}

.h2textoBlanco{
    @extend .h2queHacemos;
    color: #ffffff;
}


.parrafoMensaje{
    padding: 10px;
    margin: 10px 50px 10px 50px;
    line-height: 1.8;
    text-align: center;
    font-size: 90%;
    color: #ffffff;
    overflow: hidden;
}

.foto1Parrafo, .foto2Parrafo{
    display: none;
}

.textoSegundoParrafo{
    padding: 10px;
    margin: 10px 50px 10px 50px;
    line-height: 1.8;
    text-align: center;
    font-size: 90%;
    color: rgb(50, 50, 50);
    overflow: hidden;
}

.parrafoFoteamos{
    color: #ffffff;
}

.textoQH3{
    height: 250px;
    background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
}

.cajatexto1{
    height: 250px;
}

.mainquehacemos{
    margin-bottom: 50px;
    margin-top: 2rem;
}