

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: montserrat;
    display: flex;
    flex-direction: column;
}

.navTexto{
    display:none;
}

.ulnavSoloiconos a img{
    height: 25px;
}

.navSoloiconos{
	display: block;
	position: fixed;
	bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.ulnavSoloiconos{
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.navSoloiconos .ulnavSoloiconos{
    overflow: hidden;
    background-color: #bad588;
    padding: 5px;
    font-weight: 500;
}

ul li {
    list-style-type: none;
    display: block;
    float: left;
    font-size: 10pt;
    text-transform: uppercase;
    font-weight: 700;
}

li a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    text-align: center;
}

li .active{
    background-color: #abc57b;
    color: #888;
}

li a:hover{
    color: rgb(156, 156, 156);
}

main.mainIndex{
    padding: 10px;
    background-color: rgb(179, 179, 179);
    
}

section.textoPortada{
    height: 400px;
}

.textoPortada{
    background-image: url(../images/Wayra\ Portada_WEB-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 15px;
}

h1{
    text-align: right;
    font-size: 28pt;
    text-transform: uppercase;
    line-height: 85%;
    padding: 135px 50px 10px 0px;
    color: rgb(50, 50, 50);
}

h1 span{
    font-weight: 200;
    font-size: 26pt;
    }

section.textoPortada p{
    text-align: right;
    padding: 0px 50px 0px 0px;
}

p.textoNegrita{
    font-weight: 700;
    color: rgb(50, 50, 50);
}

/*FOOTER*/

footer{
    background-color: #bad588;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.copyright{
    display: inline;
    text-align: left;
    text-transform: uppercase;
    color: rgb(80, 80, 80);
    font-weight: 600;
    font-size: 9pt;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.icon{
    padding: 5px 10px 5px 10px;
}

/*ESTILOS PROPIOS DE NOSOTROS*/

.videoSomos{
    display: none;
}


.portadavideosomos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 5px;
}


/*ESTILOS PROPIOS DE QUE HACEMOS*/

.portadaQueHacemos{
    height: 175px;
    font-weight: 800;
    text-align: right;
    font-size: 20pt;
    background-image: url(../images/wayraPortada_WEB-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}


.parrafoSobreFondo{
    height: 480px;
    width: auto;
    background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
}

.h2queHacemos.textoBlanco{
    color: #ffffff;
}

.h2queHacemos{
    text-align: center;
    text-transform: uppercase;
    font-size: 15pt;
    color: rgb(50, 50, 50);
    font-weight: 600;
    padding: 30px 10px 10px 10px;
}

.parrafoMensaje{
    padding: 10px;
    margin: 10px 50px 10px 50px;
    line-height: 1.8;
    text-align: center;
    font-size: 90%;
    color: #ffffff;
    overflow: hidden;
}

.foto1Parrafo, .foto2Parrafo{
    display: none;
}

.textoSegundoParrafo{
    padding: 10px;
    margin: 10px 50px 10px 50px;
    line-height: 1.8;
    text-align: center;
    font-size: 90%;
    color: rgb(50, 50, 50);
    overflow: hidden;
}

.parrafoFoteamos{
    color: #ffffff;
}

.textoQH3{
    height: 250px;
    background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
}

.cajatexto1{
    height: 250px;
}

.mainquehacemos{
    margin-bottom: 50px;
}


/*ESTILOS PROPIOS DE NOSOTROS*/

.parrafoSobreFondo2{
    height: 250px;
    width: 100%;
    background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
}

.parrafoNosotros{
    width: 300px;
    padding: 25px;
    margin: auto;
    line-height: 1.8;
    text-align: center;
    font-size: 90%;
    color: #ffffff;
    overflow: hidden;
}

.videoSomos{
    margin: auto;
}

/*ESTILOS PROPIOS DE CONTACTANOS*/

.formContacto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #abc57b;
    width: 555px;
    margin: auto;
}

.cajaFormulario{
    padding: 10px;
    margin: auto;
    width: 500px;
    border-radius: 5px;
    text-align: left;
}

.formularioCampo{
    display: flex;
    flex-direction: column;
}

.itemLabel{
    padding: 10px 0px 5px 0px;
    margin: 5px 10px 0px 10px;
    color: white;
    font-weight: 500;
}

.itemLabelCampo{
    padding: 10px;
    margin: 0px 10px 0px 10px;
    background-color: #eeffd0;
    border: 1px solid white;
    border-radius: 5px;
}

.formSoloTexto{
    padding: 5px;
    margin: 10px 0px 0px 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: 600;
}

.cajaBotonRedondo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;

}

.bordeseccionesformulario{
    width: 476px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.labelunalinea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
    margin-bottom: 10px;
}

.desplegableproyecto{
    margin: auto;
    position: relative;
    left: 100px;
    padding: 10px;
}

.observaciones{
    width: 454px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #eeffd0;
    border: 1px solid white;
    border-radius: 5px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkboxCSS{
    padding: 5px;
    margin: 10px 0px 0px 5px;
}

.botonesenviar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*ESTILOS PROPIOS DE PROYECTOS*/

.galeriaproyectos{
    text-align: center;
    color: #888;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items:center;
}

.titulogaleria{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(to right, #bad588, #4a5c28);
}

.galeriaitem{
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    width: 450px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.galeriaitem .galevideo{
    height: 270px;
}

.galeriaitem .galefoto{
    height: max-content;
}

.video{
    margin: auto;
    width: 450px;
    border-radius: 5px;
}

.textoitemgaleria{
    text-align: left;
    font-weight: 400;
    margin: 10px;
}

.foto{
    margin: auto;
    width: 450px;
    border-radius: 5px;
}

.titulovideo{
    grid-area: titulovideos;
}

.galeriavideos{
    grid-area: videos;
}

.titulofoto{
    grid-area: titulofotos;
}

.galeriafotos{
    grid-area: fotos;
}

.grilla{
    display: grid;
    grid-template-areas:
    "titulovideos"
    "videos"
    "titulofotos"
    "fotos";
}

@media (min-width: 700px){
    /*CAMBIO DE NAV*/
    .ulnavSoloiconos{
        display: none;
    }

    .navTexto{
        display: inline;
    }
    
    .ulnavTexto{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #bad588;
        padding: 5px;
        font-weight: 500;
    }
    
    .linavTexto{
        list-style-type: none;

        font-size: 10pt;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    li a{
        text-decoration: none;
        color: #ffffff;
        padding: 10px 10px 10px 10px;
        border-radius: 3px;
        text-align: center;
    }
    
    .linavTexto .active{
        background-color: #abc57b;
        color: #888;
    }
    
    .linavTexto a:hover{
        color: rgb(156, 156, 156);
    }

    /*CAMBIO DE PORTADA VIDEO SOMOS EN NOSOTROS*/

    .cajaportadavideosomos .portadavideosomos{
        display: none;
    }

    .videoSomos{
        display: block;
        overflow: hidden;
        margin: 10px 10px 30px 10px;
    }
    .grillanosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
    }

    .insertvideosomos{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
    }

    /*CAMBIOS EN QUE HACEMOS*/

    .parrafoSobreFondo{
        height: 370px;
        width: auto;
        background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
    }

    .textoQH1{
        grid-area: parrafo1;
    }

    .textoQH2{
        grid-area: parrafo2;
    }

    .textoQH3{
        grid-area: parrafo3;
    }

    .textoQH4{
        grid-area: parrafo4;
    }

    .imagenQH1{
        grid-area: imagenpf2;
    }

    .imagenQH2{
        grid-area: imagenpf3;
    }

    .imagenQH3{
        grid-area: imagenpf4;
    }

    .foto1Parrafo, .foto2Parrafo{
        display: block;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        border-radius: 5px;
    }

    .grillaquehacemos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "parrafo1 parrafo1"
        "imagenpf2 parrafo2"
        "parrafo3 imagenpf3"
        "imagenpf4 parrafo4";
    }

    .imagenQH2{
        height: 250px;
        width: 100%;
        background-color: #748651;
    }

    .textoQH3 .cajatexto1{
        background-color: #748651;
    }
}

@media (min-width: 1000px){
    /*ESTILOS DE QUE HACEMOS*/

    .foto1Parrafo, .foto2Parrafo{
        width: 350px;
        border-radius: 10px;
    }

    .imagenQH2{
        height: 400px;
        width: 100%;
        background-color: #748651;
    }

    .textoQH3{
        height: 400px;
        background-image: linear-gradient(to bottom right, #bad588, #4a5c28);
    }
    
    .cajatexto1{
        height: 400px;
    }

    .h2queHacemos{
        padding: 50px 10px 10px 10px;
        
    }

    /*ESTILOS DE PROYECTOS*/

    .grilla{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "titulovideos titulovideos"
        "videos videos"
        "titulofotos titulofotos"
        "fotos fotos";
    }

    .galeriaproyectos{
        color: #888;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: auto;
        width: auto;

    }

}
